* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
.left{
    opacity:0;
    transform: translateX(-100%);
    transition:all 1s;

}
.top{
    opacity:0;
    transform: translateY(-100%);
    transition:all 1s;

}
.bottom{
    opacity:0;
    transform: translateY(100%);
    transition:all 1s;

}
.right{
  
    opacity:0;
    transform: translateX(100%);
    transition:all 1s;

}

.show{
    opacity:1;
    transform: translateX(0) translateY(0);
}
:root {

    --background-color-dark: #1e1e1e;
    --text-color-dark: #ffffff;
    --link-color-dark: #4e8cff;
    --button-background-dark: #2e2e2e;
    --button-text-dark: #ffffff;
    --accent-color-dark: #ffcc00;
    --border-color-dark: #333333;
  }

 

  /* Dark mode styles */
  body.dark-mode {
    background-color: var(--background-color-dark);
   
  }



  body.dark-mode a {
    color: var(--link-color-dark);
  }

  body.dark-mode button {
    background-color: var(--button-background-dark);
    color: var(--button-text-dark);
    border: 1px solid var(--border-color-dark);
  }



body {
          overflow-x: hidden;
    background-image: url("../icons/4ro2jl0w.bmp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* nav */

nav ul li>a:active {
  color: red;
}


.checkbtn {
    font-size: 30px;
    color: rgb(40, 38, 38);
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#checki {
    display: none;
}

#nav-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    transition: all .45s ease;



}
#nav-list li:last-child {
    cursor: pointer;
}
#nav-list li:last-child i:first-child{
    color:black;
    font-size: 24px;
}
#nav-list li:last-child i:last-child{
    color:red;
    font-size: 24px;
}

 @media (max-width:991px) {
    .checkbtn {
        display: flex;
        color: rgb(62, 61, 61);
        z-index: 350;
        position: absolute;
        right: -20px;
        top: 15px;
        position: fixed;

    }

    #nav-list {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        position: absolute;
        left: 0;
      
       border-top:gray 1px solid ;
        top: 60px;
        width: 100%;
        z-index: 400;
        height: fit-content;
        background-color: rgb(255, 255, 255);
        padding: 10px 10px;
        
        text-align: center;

       

    }
  


    header nav {
        background-color: white;
        z-index: 300;
        

    }

    header nav li:hover {


        text-align: center;
    width:100%;
 
    }

    header nav a:hover {
        color: rgb(62, 61, 61);


    }

    header nav a {
        color: gray;
        font-size: 17px;
    }

    header nav a h3 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(62, 61, 61);
        font-size: 23px;
        font-weight: 700;
        position: absolute;
        left: 10px;
        top: 13px;

    }

    body {
        overflow-x: none;
        scroll-behavior: smooth;
    }


} 

#nav-list li {
    list-style: none;
  padding: 6px;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(62, 61, 61);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

nav a:hover {

    color: red;
}

nav h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(62, 61, 61);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

nav {
    margin-top: -1px;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    gap: 605px;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    z-index: 200;

    justify-content: center;
    align-items: center;
    transition: all .45s ease;
    position: fixed;
}

/*section */
#home {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 750px;
    

}

#sec1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 40px;
    margin-top: 220px;
}

#sec1 h3 {
    font-family: sans-serif;
}

#sec1 h1 {
    font-size: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sec1 p {
    font-size: 15px;
    line-height: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sec1 h1>span {
    color: red;
}

.prof-img img {
    margin-top: 23px;
    width: 690px;
    border-radius: 8px;

}

.icons {
    margin-top: 15px;
    display: flex;
    gap: 20px;
}

.icons a img {
    width: 35px;
    height: 35px;
    border-radius: 50%;

}

/*  about  */

#about {
    height: 750px;
  
    display: flex;
    justify-content: center;
    align-items: center;
}



.container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 28px;
    align-items: center;
}

.me-img img {
    margin-top: 50px;
    height: 580px;
    width: 550px;
    border-radius: 6px;
}

.info-data h3 {
    font-size: 50px;
    margin-top: 50px;

    font-weight: 600;
    font-family: sans-serif;
}

.info-data h3 span {
    color: red;
}

.info-data h4 {
    font-family: tahoma;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.info-data p {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 26px;
    width: 400px;
}
.info-data p span{
    color: red;
    font-weight: bold;
}
.info-data button {
    width: 180px;
    background-color: red;
    height: 45px;
    color: #fff;
    font-size: 16px;
    font-family: tahoma;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    border: 1px solid rgb(227, 199, 146);
    border-radius:39px;
    margin-top: 14px;
    margin-left: 90px;
    cursor: pointer;
    transition: transform .2s ease;
}
.info-data button:hover {
    background-color: rgb(0, 157, 255);
    transform: skew(10deg);
}

/* sevice section */

#services {
    height: 750px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#services>h1 {
    font-size: 50px;
    font-weight: 750;
    margin-bottom: 130px;
    font-family: sans-serif;
}

#services>h1>span {
    color: red;
}

.serv-cont {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.serv {
    border: 1px solid red;
    border-radius: 4px;
    text-align: center;
    display: flex;
    background-color: antiquewhite;
    flex-direction: column;
    gap: 20px;
    height: 320px;
    width: 260px;
    padding: 20px;
    margin-top: -70px;
    transition: transform 1s ease;
    
}

.serv:hover {
    transform: translateY(20px);
}

.serv img:first-child {
    width: 30px;
    height: 30px;
    margin-left: 5%;
    margin-top: 13px;
}

.serv h3 {
    font-size: 19px;
    font-weight: bold;
    font-family: sans-serif;

}

.serv p {
    width: 250px;
    margin-left:6px;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    
}

.serv button {
    width: 130px;
    background-color: red;
    height: 35px;
    color: #fff;
    font-size: 16px;
    font-family: tahoma;
    text-align: center;
    border: 1px solid rgb(227, 199, 146);
    border-radius: 40px;
cursor: pointer;
    margin-left: 60px;

}
.serv button:hover {
    background-color: rgb(0, 157, 255);
}
/* projects section */

#projects {

    height: 690px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

#projects>h1 {
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: 750;
    font-size: 50px;

}

#projects>h1>span {
    color: red;
}

#projects a button{
    margin-top: -40px;
    width: 200px;
    height: 45px;
    font-size: 17px;
    border-radius: 40px;
    border: 1px solid red;
    background-color: red;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
}
#projects a button:hover {
    opacity:70%;
        background-color: rgb(0, 157, 255);

    transition: transform 1s ease-in-out;
    transform:skew(15deg);
}
.proj-cont {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-left: 2rem;
        padding-right: 2rem;

    justify-content: center;
    /* Center the projects horizontally */
}

.proj {
    position: relative;
    overflow: hidden;
    width: 100%;
    transition: height 0.5s ease-in-out;
}

.proj img {
    height: 350px;
    width: 100%;
    border-radius: 6px;
    transition: transform 0.5s ease-in-out;
}

.proj:hover {
    height: 350px;
        border-radius: 4px;

    /* Set the height to your desired value */
}

.proj:hover img {
    transform: scale(1.1);
    /* Adjust the scale factor as needed */
}

.layer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 350px;
    text-align: center;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), red);
    padding: 20px;
    box-sizing: border-box;
    color: white;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    /* Initially
     invisible */
}

.proj:hover .layer {
    opacity: 1;
    /* Make the layer visible on hover */
}

.layer h5 {
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 15px;
    margin-top: 110px;
}

.layer p {
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.8;
    margin-left: 10px;
}

.layer i {
    height: 50px;
    width: 50px;
    font-size: 20px;
    background-color: white;
    color: black;
    margin-top:8px;
    margin-left: 155px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* conatact me */

#contact-me {
    height: 780px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.contact-cont {
    display: flex;
    gap: 50px;
}

.inp-in {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inp-in textarea {
    border-radius: 4px;
    padding: 5px;
    resize: none;
    outline: none;
    border: 1px solid red;
}

.inp-in input {
    padding: 5px;
    width: 500px;
    height: 25px;
    border-radius: 4px;
    outline: none;
    border: 1px solid red;
}

.inp-in button {
    width: 120px;
    text-align: center;
    height: 40px;
    color:white;
    border-radius: 6px;
    border-style: none;
    background-color: red;
    font-family: tahoma;
    cursor: pointer;
}
.inp-in button:hover {
    background-color: rgb(0, 157, 255);
    transition: all ease-out 1s;

}

.contact-into>h1 {
    font-family: sans-serif;
    font-weight: 750;
    margin-bottom: 20px;
    font-size: 50px;
    margin-top: -25px;
}

.contact-into>h1>span:first-child {
    color: red;
}

.contact-into>h4 {
    font-size: 18px;
    font-weight: 700;

    line-height: 50px;
    font-family: sans-serif;

}

.contact-into p {
    line-height: 30px;
    font-size: 15px;
    font-family: tahoma;
    margin-bottom: 50px;
}

.contact-into .inf>span {
    color: rgb(69, 69, 69);
    line-height: 40px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: sans-serif;
    font-size: 15px;

}

.contact-into .inf>span>img {

    margin-bottom: -7px;
    margin-right: 5px;
    height: 27px;
    width: 27px;
}

/*footer */
.foot{
    line-height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: red;
    padding: 10px;
    font-weight: 500;
    color: white;
    font-size: 15px;
}

/*responcive*/

@media only screen and (min-width: 768px) and (max-width: 1100px) {
    /* Styles for devices with a minimum width of 768 pixels and a maximum width of 991 pixels */

    main {
        overflow: hidden;

    }

    body {
        scroll-behavior: smooth;
    }

    #sec1 h3 {
        font-family: sans-serif;
    }

    #sec1 h1 {
        font-size: 60px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #sec1 p {
        font-size: 16px;
        line-height: 22px;
        width: 400px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #sec1 {
        margin-top: 160px;
        width: 100%;
        margin-left: 40px;
    }

    #home {
        display: flex;

        width: 100%;
        gap: 0px;
        margin-top: 100px;

        flex-direction: row;

        height: fit-content;

    }

    .prof-img img {

        max-width: 130%;
        height: 600px;




    }

    #services {

        display: flex;
        height: fit-content;
        justify-content: center;
        align-items: center;
        margin-bottom: 200px;
        flex-direction: column;
    }

    #services h1:first-child {
        font-size: 37px;
        font-weight: 720;

    }

    .serv {
        width: 240px;
        margin-top: 50px;

    }

    .serv-cont {

        display: flex;
        margin-top: -120px;
        padding: 30px;

        flex-direction: row;
        gap: 6px;
        flex-wrap: wrap;
    }

    #projects {
        height: fit-content;
        display: flex;

        gap: 30px;

    }

    #projects h1:first-child {


        font-size: 45px;

    }

    .proj {

        width: 400px;
    }

    #projects .proj-cont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: -20px;

    }

    #projects button:last-child {

        height: 40px;
        margin-top: 30px;
        padding: 10px 10px;
    }

    .proj-cont .proj img {
        height: 300px;
        width: 400px;
        z-index: -2;
        border-radius: 6px;
        transition: transform 0.5s ease-in-out;
    }

    .proj:hover .layer {

        opacity: 1;
        /* Make the layer visible on hover */
    }

    #projects .proj-cont {
        margin-top: 30px;
    
    }

    .proj-cont .proj {
        height: 300px;
    }

    .proj .layer {

        height: fit-content;

    }


    #contact-me {
        margin-top: 50px;
        height: 720px;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    .contact-cont .contact-into {
        justify-content: center;
        align-items: center;
        margin-bottom: 70px;


    }

    .contact-cont {
        flex-direction: row;
        justify-content: center;
        align-items: center;


    }

    .contact-cont .inp-in textarea {

        padding: 5px;
        height: 180px;
        width: 90%;

    }

    .contact-cont .inp-in {
        width: 100%;
    }

    .contact-cont .inp-in input {
        padding: 5px;
        width: 90%;
        margin-right: 10px;

        height: 25px;

    }

    .contact-cont .inp-in button {

        margin-bottom: 40px;

    }

    .contact-cont .contact-into {
        text-align: center;
    }

    .contact-cont .contact-into .inf {
        margin-top: -25px;
        margin-bottom: -10px;
        text-align: left;
        margin-left: 23%;
    }

    .contact-cont .contact-into>h1 {

        font-size: 37px;

    }

    #about {
        height: 750px;
        margin-top: 50px;
        width: 100%;

    }

    .info-data {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .me-img img {
        display: none;
    }

    #about .info-data h3 {
        font-size: 45px;

        font-weight: 720;


    }

    #about .info-data h4 {

        font-size: 20px;
        margin-top: 25px;
        margin-bottom: 35px;
    }

    #about .info-data p {
        width: fit-content;
        margin: 10px;

        text-align: left;

    }

    #about .info-data button {
        width: 180px;



        margin-left: -40px;
    }

}
@media (max-width:780px) {
    #nav-list {
        display: none;
        flex-direction: column;
        gap: 15px;
     
        justify-content: center;
        align-items: center;

        margin-left:-15px;
      
        
       border-top:gray 1px solid ;
       
       
        width: 100%;
        z-index: 400;
        height: fit-content;
        background-color: white;

        text-align: center;

        padding-top: 10px;
        height: fit-content;

    }
 
    header nav li a {
        font-size:17px;
    }

    main {
        overflow: hidden;

    }

    body {
        scroll-behavior: smooth;
    }

    #sec1 h3 {
        font-family: sans-serif;
    }

    #sec1 h1 {
        font-size: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #sec1 p {
        font-size: 14px;
        line-height: 22px;
        margin-right: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #sec1 {
        margin-top: 410px;

        width: fit-content;
    }

    #home {
        display: flex;
        width: 100%;

        gap: 100px;

        flex-direction: column;

        height: fit-content;

    }

    .prof-img img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        border: 3px solid black;
        position: relative;
        top:-40rem;


    }

    #services {

        display: flex;
        height: 1550px;
        margin-top: 350px;
        justify-content: center;
        align-items: center;
        margin-bottom: 200px;
        flex-direction: column;
    }

    #services h1:first-child {
        font-size: 37px;
        font-weight: 720;

    }

    .serv-cont {
        display: flex;
        margin-top: -60px;
        padding: 30px;
        flex-direction: column;
        gap: 30px;

    }

    #projects {
        height: fit-content;
        display: flex;
      
        gap: 30px;

    }

    #projects h1:first-child {

margin-top:80px;
        font-size: 37px;
        margin-bottom: 30px;


    }

    #projects .proj-cont {
        display: flex;
        flex-direction: column;
        gap: 50px;
        flex-wrap: wrap;
        margin-top: -20px;

    }

    #projects button:last-child {

        height: 40px;
        margin-top: 30px;
        padding: 10px 10px;
    }
    #projects button:hover {

      background-color: #4e8cff;
    }

    .proj-cont .proj img {
        height: 300px;
        width: 300px;
        z-index: -2;
        border-radius: 6px;
        transition: transform 0.5s ease-in-out;
    }

    .proj:hover .layer {

        opacity: 1;
        /* Make the layer visible on hover */
    }

    .proj-cont .proj {
        height: 300px;
    }

    .proj .layer {

        height: 100%;

    }


    #contact-me {
       
        height: 950px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    .contact-cont .contact-into {
        justify-content: center;
        align-items: center;

    }

    .contact-cont {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .contact-cont .inp-in textarea {
        border-radius: 4px;
        outline: none;
        padding: 5px;
        height: 180px;
        margin-bottom: 20px;
        outline: none;
        border: 1px solid red;
    }

    .contact-cont .inp-in input {
        padding: 5px;
        width: 300px;


        height: 25px;

    }

    .contact-cont .inp-in button {

        margin-bottom: 40px;

    }

    .contact-cont .contact-into {
        text-align: center;
    }

    .contact-cont .contact-into .inf {
        margin-top: -25px;
        margin-bottom: -10px;
        text-align: left;
        margin-left: 23%;
    }

    .contact-cont .contact-into>h1 {
margin-top:30px ;
        font-size: 37px;

    }

    #about {
        height: 750px;
        margin-top: 50px;
        width: 100%;

    }

    .info-data {
        justify-content: center;
        align-items: center;
        display: flex;

        width: 100%;
        flex-direction: column;
    }

    .me-img img {
        display: none;
    }

    #about .info-data h3 {
        font-size: 37px;

        font-weight: 720;


    }

    #about .info-data h4 {

        font-size: 20px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #about .info-data p {

        width: fit-content;
        margin: 10px;
            margin-left:-6px;
        text-align: left;

    }

    #about .info-data button {
        width: 180px;

margin-top: -5px;


        margin-left: -20px;
    }

}

a {
    text-decoration: none;
    color: rgb(62, 61, 61);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

nav a:hover {

    color: red;
}


nav h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(62, 61, 61);
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
}

nav {
    margin-top: -1px;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    gap: 0px;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    z-index: 200;

    justify-content: space-between;
    padding-left: 10px;
  
    align-items: center;
    transition: all .45s ease;
    position: fixed;
}
  
nav ul {
    padding-right: 10px;
}

.active {
    color:red;
}